.divcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mydiv{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
    background-color: #cccccc;
}